* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

:root {
  --primary-color: blue;
  --secondary-color: yellowgreen;
  --text-question: 1.2rem;
  --text-answer: 0.8rem;
  --text-small: 0.7rem;
}

header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  line-height: 15px;
  position: fixed;
  top: 0;
  z-index: 3;
}

span {
  font-style: italic;
}

h1 {
  font-weight: 400;
  font-size: var(--text-question);
  margin: 0 80px 0 80px;
}

/* ____main______ */

main {
  margin-top: 100px;
  margin-bottom: 100px;
}

.card {
  border: solid black 1px;
  margin: 10% 10%;
  height: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.card__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.question {
  margin-top: 20px;
  text-align: center;
  font-size: var(--text-question);
}

button {
  background-color: white;
  border: solid black 1px;
  margin: 15px 0 25px 0;
  padding: 10px;
  font-size: var(--text-answer);
}

.answer {
  transform: translateY(-70%);
  font-size: var(--text-answer);
  visibility: hidden;
}

.bookmark {
  width: 40px;
  position: absolute;
  top: -7px;
  right: 5px;
}

.categories {
  margin: 10px;
  list-style: none;
  justify-content: flex-start;
  display: flex;
  gap: 10px;
  position: absolute;
  left: 0px;
  bottom: 0;
}

li {
  background-color: yellowgreen;
  border-radius: 10px;
  font-size: var(--text-small);
  padding: 2% 3%;
}

footer {
  background-color: blue;
  width: 100vw;
  height: 70px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.home,
.bookmark_t,
.profile {
  height: 35px;
}

button:hover {
  background-color: blue;
}
